html,body,div{
  margin: 0;
  padding: 0;
}

.box{
  height: 295px;
  background: url('./assets/img/banner.jpg') no-repeat;
  background-size: 100% auto;
}

.imgBox{
  display: flex;
  justify-content: center;
  div{
    width: 40px;
    height: 40px;
  }
  :nth-child(1){
    background: url('./assets/img/icon1.png') no-repeat;
    background-size: 100% 100%;
  }
  :nth-child(2){
    background: url('./assets/img/icon2.png') no-repeat;
    background-size: 100% 100%;
  }
  :nth-child(3){
    background: url('./assets/img/icon3.png') no-repeat;
    background-size: 100% 100%;
  }
}